nav{
    background-color: #ffd54f !important;
}
.btn-contacto{
    background-color: #4D4637;
    color: #fff;
}
aside{
    background-color: #ffd54f !important;

}

.parrafo{
    color: #4D4637;
}
h1{
    color: #4D4637;
    font-weight: 800;
}
.tituloSecun{
    color: #4D4637;
}
p{
    color:#B3AA99;
}

.imagenCell{
    transform: skewY(10deg);
}
.descarga{
    background-color: #ffd54f !important;
}

.customTitle { font-size: 26px; }